# Connection Details

proxmox_api_url          = "Input your api url"
proxmox_api_token_id     = "Input your token id"
proxmox_api_token_secret = "Input your api secret"

# VM Configuration Values
# Here, change your desired configurations. 

# VM Specific Values
vm_name       = "clone-vm-tf"
target_node   = "lab3"       # আপনার স্ক্রিনশট অনুযায়ী টেমপ্লেট lab3 নোডে আছে
vm_id         = 463          # নতুন VM এর জন্য একটি ফ্রি ID দিন
template_id   = 315          # Source Template ID

# Resources
cpu_cores     = 2
memory_mb     = 2048
datastore_id  = "main"       # টেমপ্লেট যে স্টোরেজে আছে (স্ক্রিনশট অনুযায়ী 'main')
bridge_name   = "vmbr0"      # আপনার নেটওয়ার্ক ব্রিজ